# traefik/traefik-values.yaml
deployment:
  replicas: 1

providers:
  kubernetesIngress:
    publishedService:
      enabled: true

ports:
  web:
    redirectTo: websecure
  websecure:
    tls:
      enabled: true

ingressRoute:
  dashboard:
    enabled: true

service:
  type: LoadBalancer
#  spec:
#    loadBalancerIP: 10.64.13.210
  spec: {}